<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(images/grid-bg.gif) repeat;padding:16px 20px 0 20px;margin-top:40px;">
  <tr>
    <td><span style="color:#20b6fb;font-size:14px;font-weight:bold;">About this newsletter</span>
      <p style="margin-top:5px;color:#757575;font-size:12px;">Hakka Labs Weekly is dedicated to helping developers and tech startup enthusiasts find the content, tools, training and opportunities they need to move ahead in their careers. We believe that <a href="http://online.wsj.com/article/SB10001424053111903480904576512250915629460.html" style="color:#20b6fb">software is eating the world</a>, and that the future is bright for highly-skilled software developers and product gurus that have quality training and experience in solving real-world problems.</p></td>
  </tr>
  <tr>
    <td style="text-align:right;"><a style="color:#777777;text-decoration:none;font-weight:bold;font-size:12px;" href="mailto:pete@mechanikal.com?subject=Hakka%20Labs%20weekly%20Feedback"><img style="margin-right:5px;border:0;margin-bottom:-1px;" src="images/blue-arw.gif" alt="" />SEND FEEDBACK</a></td>
  </tr>
  
  <tr>
    <td style="padding-top:26px;"><a style="color:#757575;font-size:12px;text-decoration:underline; font-weight:bold;margin-right:10px;" href="http://www.hakkalabs.co/subscribe">Subscribe</a> 
    <unsubscribe style="color:#757575;font-size:12px;text-decoration:underline;font-weight:bold;margin-right:10px;">Unsubscribe</unsubscribe>
    <forwardtoafriend style="color:#757575;font-size:12px;text-decoration:underline;font-weight:bold;margin-right:10px;">Forward to a friend</forwardtoafriend>
    </td>
  </tr>
  <tr>
    <td style="color:#757575;font-size:10px;padding:25px 0 13px 0;">Copyright 2013 Hakka Labs, Inc. All Rights Reserved. You have subscribed to the Hakka Labs Weekly email provided by Hakka Labs, PO Box 286742, New York, NY 10128. We loathe spam. If you believe this email has been sent to you in error, please unsubscribe. </td>
  </tr>
</table> 